<div>
    <input value="{{pantalla}}" title="pantalla">
    <button (click)="onAC()" class="generales">AC</button>
    <button (click)="onCambiaSigno()" class="generales">+/-</button>
    <button (click)="onPorcentaje()" class="generales">%</button>
    <button (click)="operacion('/')" class="aritmeticas">/</button>
    <button (click)="onNumero('7')" class="numeros">7</button>
    <button (click)="onNumero('8')" class="numeros">8</button>
    <button (click)="onNumero('9')" class="numeros">9</button>
    <button (click)="operacion('x')" class="aritmeticas">x</button>
    <button (click)="onNumero('4')" class="numeros">4</button>
    <button (click)="onNumero('5')" class="numeros">5</button>
    <button (click)="onNumero('6')" class="numeros">6</button>
    <button (click)="operacion('-')" class="aritmeticas">-</button>
    <button (click)="onNumero('1')" class="numeros">1</button>
    <button (click)="onNumero('2')" class="numeros">2</button>
    <button (click)="onNumero('3')" class="numeros">3</button>
    <button (click)="operacion('+')" class="aritmeticas">+</button>
    <button (click)="onNumero('0')" class="numeros" id="cero">0</button>
    <button (click)="onNumero(',')" class="numeros">,</button>
    <button (click)="operacion('=')" class="aritmeticas">=</button>
</div>