<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes">
            <th>{{cliente.id}}</th>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>
                <a routerLink="/formulario/{{cliente.id}}">Editar</a>
                <button (click)="borrar(cliente.id)">Borrar</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a routerLink="/formulario">Nuevo</a>
            </td>
        </tr>

    </tfoot>
</table>