aside {
    background-color: lightgray;
    text-align: center;
}
ul {
    list-style: none;
    margin: 0;
    padding: 1rem 0;
}

li {
    margin: 1rem 0;
    padding: 0;
}

img {
    border: 1px solid darkgray;
    border-radius: .5rem;
    box-shadow: .5rem .5rem 1rem gray;
}