div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#cero {
    grid-column-end: span 2;
}

button {
    background-color: lightgray;
    color: white;
    border: 1px solid black;
    font-size: 1.25rem;
    padding: 0.5rem;
}
